In [2]:
var lines = sc.textFile("/data/mr/wordcount/input/big.txt")

In [3]:
var local_lines = lines.take(20)

In [4]:
local_lines

Array(The Project Gutenberg EBook of The Adventures of Sherlock Holmes, by Sir Arthur Conan Doyle, (#15 in our series by Sir Arthur Conan Doyle), "", Copyright laws are changing all over the world. Be sure to check the, copyright laws for your country before downloading or redistributing, this or any other Project Gutenberg eBook., "", This header should be the first thing seen when viewing this Project, Gutenberg file.  Please do not remove it.  Do not change or edit the, header without written permission., "", Please read the "legal small print," and other information about the, eBook and Project Gutenberg at the bottom of this file.  Included is, important information about your specific rights and restrictions in, how the file may be used.  You can also find ou...

In [9]:
lines.length

Name: Compile Error
Message: <console>:17: error: value length is not a member of org.apache.spark.rdd.RDD[String]
              lines.length
                    ^
StackTrace:

In [16]:
words.take(5)

Array(The, Project, Gutenberg, EBook, of)

In [31]:
var words = local_lines.flatMap(x => x.split(" "))

In [32]:
var wordkv = words.map(x => (x,1))

In [35]:
wordkv.getClass

class [Lscala.Tuple2;

In [36]:
var output = wordkv.reduceByKey(_ + _)

Name: Compile Error
Message: <console>:22: error: value reduceByKey is not a member of Array[(String, Int)]
       var output = wordkv.reduceByKey(_ + _)
                           ^
StackTrace:

In [25]:
wordkv

Array((The,1), (Project,1), (Gutenberg,1), (EBook,1), (of,1), (The,1), (Adventures,1), (of,1), (Sherlock,1), (Holmes,1), (by,1), (Sir,1), (Arthur,1), (Conan,1), (Doyle,1), ((#15,1), (in,1), (our,1), (series,1), (by,1), (Sir,1), (Arthur,1), (Conan,1), (Doyle),1), ("",1), (Copyright,1), (laws,1), (are,1), (changing,1), (all,1), (over,1), (the,1), (world.,1), (Be,1), (sure,1), (to,1), (check,1), (the,1), (copyright,1), (laws,1), (for,1), (your,1), (country,1), (before,1), (downloading,1), (or,1), (redistributing,1), (this,1), (or,1), (any,1), (other,1), (Project,1), (Gutenberg,1), (eBook.,1), ("",1), (This,1), (header,1), (should,1), (be,1), (the,1), (first,1), (thing,1), (seen,1), (when,1), (viewing,1), (this,1), (Project,1), (Gutenberg,1), (file.,1), ("",1),...

In [ ]:
var output = wordkv.reduceByKey(_ + _)

In [ ]:
var lines = sc.textFile("/data/mr/wordcount/input/big.txt")

In [1]:
var lines = sc.textFile("/data/mr/wordcount/input/big.txt")

In [2]:
var arr = 1 to 1000

In [15]:
var arr = 1 to 1000
var num = sc.parallelize(arr)
def isEven(x:Int):Array[Int] = {
if(x%2 == 0) Array(x)
else Array()
}

In [9]:
isEven(1)

Array()

In [14]:
num.collect()

Array(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, ...

In [16]:
var evens = num.flatMap(isEven)

In [18]:
lines.take(10)

Name: Compile Error
Message: <console>:13: error: not found: value lines
              lines.take(10)
              ^
StackTrace:

In [19]:
var lines = sc.textFile("/data/mr/wordcount/input/big.txt")

In [23]:
var words = lines.flatMap(x => x.split(" "))
var wordskv = words.map(x => (x,1))
def myfunc(x:Int,y:Int) = x + y
var wordcount = wordskv.reduceByKey(myfunc)
wordcount.take(10)

Array((Ah!,6), (reunion,4), (bone,350), (anaerobes,,2), ("opposed,2), (595;,1), (blandly,6), (person-,1), (wobbers,1), (signal.,2))

In [24]:
evens.collect()

Array(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330,...

In [28]:
var union = num.union(evens)

In [29]:
union.collect()

Array(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176,...

In [33]:
lines.partitions.length

2

In [9]:
var rdd = sc.parallelize(1 to 100)
var count = rdd.count()
var fraction = 0.1
def cointoss(x: Int):Boolean = scala.util.Random.nextFloat() <= fraction
var samplerdd = rdd.filter(cointoss)
var samplelegnth = count*fraction 
var sample = rdd.take(samplelegnth.toInt)
sample.length

10

In [4]:
samplerdd.collect()

Array(1, 6, 15, 17, 24, 26, 45, 62, 71, 75, 76, 93, 94, 100)

In [25]:
var rdd = sc.parallelize(1 to 50, 3)

//#The number of default partitions is function of the following 
//# are we running on Hadoop?
//# Are we using sc.textFile?
//# How many cores do we have ?
//# How many machines do we have ?

def f(i:Iterator[Int]):Iterator[Int] = {
var sum = 0
while(i.hasNext){
sum = sum + i.next
}
return List(sum).iterator
}

In [16]:
rdd.mapPartitions(f).collect()

Array(136, 425, 714)

In [33]:
var rdd = sc.parallelize( 1 to 99, 3)
def f(l:Iterator[Int]):Iterator[Int] = {
var sum = 0
while(l.hasNext){
sum = sum + 1
l.next
}
return List(sum).iterator
}

In [34]:
rdd.mapPartitions(f).collect()

Array(33, 33, 33)

In [35]:
var tmp = List(('a', 1), ('b', 2), ('1', 3), ('d', 4), ('2', 5))
var rdd = sc.parallelize(tmp)

In [37]:
rdd.sortBy(x => x._1, false).collect()

Array((d,4), (b,2), (a,1), (2,5), (1,3))

In [1]:
var myrdd = sc.parallelize(1 to 10,2)
var myrdd1 = myrdd.map(_.toString)
def concat(s:String, n:String):String = s+n

var s = "_"
myrdd1.fold(s)(concat)

__678910_12345

In [15]:
var myrdd2 = myrdd.foreach(_ + 1)

In [19]:
myrdd2.take(2)

Name: Compile Error
Message: <console>:19: error: value take is not a member of Unit
              myrdd2.take(2)
                     ^
StackTrace:

In [23]:
var lines = sc.textFile("/data/mr/wordcount/big.txt")
var words = lines.flatMap(x => x.split(" "))
var wordkv = words.map(x => (x,1))
var wordcount = wordkv.reduceByKey((x,y) => (x+y))

In [32]:
var sortby = wordcount.sortBy((_._1),false)

In [33]:
sortby.take(10)

Array((|not,1), (|had,1), (|but,1), (|Wyoming,1), (|Wisconsin,1), (|West,1), (|Washington,1), (|Virginia,1), (|Vermont,1), (|Utah,1))

In [34]:
wordcount.take(10)

Array((Ah!,6), (reunion,4), (bone,350), (anaerobes,,2), ("opposed,2), (595;,1), (blandly,6), (person-,1), (wobbers,1), (signal.,2))

In [36]:
wordcount.saveAsTextFile("wordcount_output")

In [37]:
wordcount.map(x => (x._2,x._1)).top(10)

Array((71744,the), (68870,""), (39169,of), (35968,and), (27895,to), (19811,a), (19515,in), (11216,that), (11129,was), (9561,his))

In [41]:
wordcount.sortBy(x => x._2, false).take(100)

Array((the,71744), ("",68870), (of,39169), (and,35968), (to,27895), (a,19811), (in,19515), (that,11216), (was,11129), (his,9561), (he,9362), (with,9358), (is,9247), (as,7333), (had,7275), (it,6545), (by,6384), (for,6358), (at,6237), (not,6201), (The,6139), (be,5934), (I,5799), (on,5688), (from,5361), (or,5183), (which,4597), (her,4369), (were,4173), (but,4118), (you,3573), (are,3418), (have,3369), (all,3349), (an,3222), (him,3098), (they,2961), (said,2946), (this,2937), (their,2878), (she,2866), (who,2716), (one,2682), (been,2567), (may,2440), (so,2344), (He,2119), (into,2098), (my,1998), (what,1997), (when,1928), (would,1901), (up,1892), (there,1836), (In,1829), (more,1794), (did,1771), (no,1754), (only,1676), (out,1675), (could,1663), (It,1625), (if,1616)...

In [42]:
"kajsh ajkha 1 1 3 1@3 3 3 33#4 5 35 @#$*&^  $ $ ! #-----=======38 1830=====////!".replaceAll("[^0-9a-z]", "")

kajshajkha1131333334535381830

In [2]:
var txtRDD = sc.textFile("/data/spark/temps.csv")

In [10]:
txtRDD.collect()

Array(20, NYC, 2014-01-01, 20, NYC, 2015-01-01, 21, NYC, 2014-01-02, 23, BLR, 2012-01-01, 25, SEATLE, 2016-01-01, 21, CHICAGO, 2013-01-05, 24, NYC, 2016-5-05)

In [14]:
def cleanRecord(line:String) = {
var arr = line.split(",");
(arr(1).trim,arr(0).toInt)
}
var recordRDD = txtRDD.map(cleanRecord)

In [11]:
def max(a:Int, b:Int) = if (b>a) b else a

In [3]:
recordRDD.collect()

Name: Compile Error
Message: <console>:13: error: not found: value recordRDD
              recordRDD.collect()
              ^
StackTrace:

In [18]:
var res = recordRDD.reduceByKey(max)

In [19]:
res.collect()

Array((CHICAGO,21), (BLR,23), (SEATLE,25), (NYC,24))

In [4]:
def cleanRecord1(line:String) = {
    var arr = line.split(",");
    (arr(1).trim, (arr(0).toInt, arr(2)))
}

In [5]:
var tempRdd = txtRDD.map(cleanRecord1)

In [6]:
tempRdd.collect()

Array((NYC,(20," 2014-01-01")), (NYC,(20," 2015-01-01")), (NYC,(21," 2014-01-02")), (BLR,(23," 2012-01-01")), (SEATLE,(25," 2016-01-01")), (CHICAGO,(21," 2013-01-05")), (NYC,(24," 2016-5-05")))

In [9]:
def max (a: (Int,String), b: (Int,String)) = {
    if (a._1 > b._1) a else b
}

tempRdd.(max).collect()

In [11]:
tempRdd.reduceByKey(max).collect()

Array((CHICAGO,(21," 2013-01-05")), (BLR,(23," 2012-01-01")), (SEATLE,(25," 2016-01-01")), (NYC,(24," 2016-5-05")))

In [15]:
var rdd = sc.parallelize(Array(('a',1),('b',1),('a',2)))
var rdd1 = rdd.groupByKey()
rdd1.collect()
def sz(x:Iterable[Int]) = x.size
var rdd2 = rdd1.mapValues(sz)
rdd2.collect()

Array((a,2), (b,1))

In [1]:
var myrdd = sc.parallelize(List(1,2,3,4,5,6,7,8), 2)
//Array(1, 2, 3, 4, 5)

var rdd1 = myrdd.map(("x", _))
//Array((x,1), (x,2), (x,3), (x,4), (x,5))

def cc(x:Int):String = "_" + x.toString
def mv(x:String, y:Int):String = {x + ";" + y}
def mc(x:String, y:String):String = {x + ", " + y}

rdd1.combineByKey(cc, mv, mc).collect()

Array((x,_1;2;3;4, _5;6;7;8))

In [2]:
myrdd.collect()

Array(1, 2, 3, 4, 5, 6, 7, 8)

In [3]:
rdd1.collect()

Array((x,1), (x,2), (x,3), (x,4), (x,5), (x,6), (x,7), (x,8))

In [8]:
def sum(x:Int,y:Int) = x + y 
def nop(x:Int) = x

In [10]:
rdd1.combineByKey(nop,sum,sum).collect()

Array((x,36))

In [12]:
rdd1.reduceByKey(sum).collect()

Array((x,36))

In [17]:
var tmp = List(('a', 1), ('b', 2), ('1', 3), ('d', 4), ('2', 5))
var rdd = sc.parallelize(tmp, 4)

In [19]:
rdd.sortByKey(false,2).collect()

Array((d,4), (b,2), (a,1), (2,5), (1,3))

In [23]:
rdd.sortByKey(false,2).partitions.length

2

In [25]:
var x = sc.parallelize(List(("a", 1), ("b", 4), ("c", 5)))
var y = sc.parallelize(List(("a", 2), ("a", 3), ("d", 7)))
y.join(x).collect()

Array((a,(2,1)), (a,(3,1)))

In [26]:
var x = sc.parallelize(List(("a", 1), ("b", 4), ("c", 5)))
var y = sc.parallelize(List(("a", 2), ("a", 3), ("d", 7)))
x.join(y).collect()

Array((a,(1,2)), (a,(1,3)))

In [27]:
var x = sc.parallelize(List((1, "sandeep"), (2, "sravani")))
var y = sc.parallelize(List((1, "ryan"), (3, "giri")))
x.leftOuterJoin(y).collect()

Array((1,(sandeep,Some(ryan))), (2,(sravani,None)))

In [28]:
var x = sc.parallelize(List((1, "sandeep"), (2, "sravani")))
var y = sc.parallelize(List((1, "ryan"), (3, "giri")))
x.rightOuterJoin(y).collect()

Array((1,(Some(sandeep),ryan)), (3,(None,giri)))

In [31]:
var lr = sc.parallelize(1 to 1000).map(x => (x, x) )
lr.lookup(42)
lr.collect()

Array((1,1), (2,2), (3,3), (4,4), (5,5), (6,6), (7,7), (8,8), (9,9), (10,10), (11,11), (12,12), (13,13), (14,14), (15,15), (16,16), (17,17), (18,18), (19,19), (20,20), (21,21), (22,22), (23,23), (24,24), (25,25), (26,26), (27,27), (28,28), (29,29), (30,30), (31,31), (32,32), (33,33), (34,34), (35,35), (36,36), (37,37), (38,38), (39,39), (40,40), (41,41), (42,42), (43,43), (44,44), (45,45), (46,46), (47,47), (48,48), (49,49), (50,50), (51,51), (52,52), (53,53), (54,54), (55,55), (56,56), (57,57), (58,58), (59,59), (60,60), (61,61), (62,62), (63,63), (64,64), (65,65), (66,66), (67,67), (68,68), (69,69), (70,70), (71,71), (72,72), (73,73), (74,74), (75,75), (76,76), (77,77), (78,78), (79,79), (80,80), (81,81), (82,82), (83,83), (84,84), (85,85), (86,86), (87,87),...

In [33]:
var lr = sc.parallelize(1 to 1000)
lr.lookup(42)

Name: Compile Error
Message: <console>:17: error: value lookup is not a member of org.apache.spark.rdd.RDD[Int]
              lr.lookup(42)
                 ^
StackTrace:

In [39]:
var Dnardd = sc.textFile("/data/mr/dna/dna.txt")

In [41]:
Dnardd.collect()

Array(User1   ACGT, User2   TGCA, User3   ACG, User4   ACGT, User5   ACG, User6   AGCT)

In [102]:
def clean(line:String) = {
var arr = line.split(" ")
(arr(3).trim,arr(0))
}

In [82]:
clean("User1   ACGT")

(User1,ACGT)

In [103]:
var Words = Dnardd.map(clean)

In [104]:
Words.collect

Array((ACGT,User1), (TGCA,User2), (ACG,User3), (ACGT,User4), (ACG,User5), (AGCT,User6))

In [108]:
var dnafile = Words.groupByKey()

In [110]:
dnafile.collect()

Array((TGCA,CompactBuffer(User2)), (ACG,CompactBuffer(User3, User5)), (ACGT,CompactBuffer(User1, User4)), (AGCT,CompactBuffer(User6)))

In [109]:
dnafile.saveAsTextFile("dnaoutputfile")

var Dnardd = sc.textFile("/data/mr/dna/dna.txt")
def clean(line:String) = {
var arr = line.split(" ")
(arr(3).trim,arr(0))
}
var pairs = Dnardd.map(clean)
var userdna = pairs.groupByKey()
//#output
Array((TGCA,CompactBuffer(User2)), (ACG,CompactBuffer(User3, User5)), (ACGT,CompactBuffer(User1, User4)), (AGCT,CompactBuffer(User6)))